:root{
    --color-primary: #5DA3FA;
    --color-secondary: #3944F7;
    --color-text-dark:#000995;
    --color-text-light:#AFAFAF;
    --color-bg-gray:#EFEFEF;

    --font-main: "Thiccboi"
}

@font-face {
    font-family: "Thiccboi";
    src: url('../font/THICCCBOI-Black.ttf') format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Thiccboi";
    src: url('../font/THICCCBOI-SemiBold.ttf') format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Thiccboi";
    src: url('../font/THICCCBOI-Regular.ttf') format("truetype");
    font-weight: normal;
}


*{
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}
.cta{
    background: rgb(93,163,250);
    background: linear-gradient(90deg, rgba(93,163,250,1) 0%, rgba(93,163,250,1) 0%, rgba(57,68,247,1) 100%);
    color: white;
    transition: all .25s ease-in-out;
    font-weight: bold;
}
.cta:hover{
    border-radius: 25px;
    border-bottom-right-radius: 0;
}
.container{
    width: 70%;
    margin: 0 auto;
}

/* Navigation */

.navbar{
    width: 100%;
    padding: 2% 0;
    z-index: 5;
}
.navbar-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container .logo img{
    max-width: 250px;
}
.nav-links{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links ul li{
    color: var(--color-text-dark);
    font-size: 1.25rem;
    margin: 0 25px;
}
.nav-link-active{
    position: relative;
}
.nav-link-active::after{
    content: '';
    width: 100%;
    height: 4px;
    background: var(--color-primary);
    position: absolute;
    bottom: -5px;
    left: 0;
}
.nav-cta{
    padding: 10px 40px;
    border-radius: 25px;
    border-bottom-left-radius: 0;
}

/* Navigation - Mobile */

.burger{
    position: fixed;
    display: none;
    right: 5%;
    z-index: 2;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    background: var(--color-primary);
    cursor: pointer;
    z-index: 51;
}
.icon-burger{
    width: 65%;
    height: 65%;
    margin: 17.5%;
    color: white;
}
.sidebar{
    padding: 25px 0;
    background: var(--color-primary);
    position: fixed;
    top: calc(100% + 10px);
    width: 50%;
    top: 0;
    height: 100vh;
    z-index: 50;
    right: 0;
    display: none; 
    transform: translateX(100%);
}
.sidebar-links{
    margin: 1% 0;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    margin-top: 25%;
}
.sidebar-links ul li{
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 25px;
}
.sidebar-links ul li a{
    color: var(--color-text-dark);
}
.sidebar-links ul li a:hover{
    color: white;
}

/* Hero */
#home{
    position: relative;
}

.hero-container{
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    z-index: 5;
    margin-top: 5%;
}
.hero-container h1{
    font-size: 3.5rem;
    color: var(--color-text-dark);
}
span.text-lightblue{
    color: var(--color-primary);
}
span.text-white{
    color: white;
}
span.underline{
    text-decoration: underline;
    cursor: pointer;
}
.hero-container p{
    font-size: 1.5rem;
    color: var(--color-text-light);
    margin-bottom: 25px;
}
.hero-container .cta{
    padding: 10px 50px;
    font-size: 1.5rem;
    border-radius: 25px;
    border-bottom-left-radius: 0;
}
.hero-container .hero-img{
    z-index: 1;
}
.hero-img img{
    width: 100%;
    margin-top: -5%;
    animation: float 5s ease-in-out infinite;
}

/* Services */

.services-container{
    margin: 7.5% auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sc-style-1{
    background: transparent;
    box-shadow: 10px 10px 5px 0px var(--color-bg-gray);
    border: 2px solid var(--color-bg-gray);
    border-radius: 15px;
}
/* .sc-style-2{
    border: 1px solid var(--color-text-dark);
    border-radius: 25px;
}
.sc-style-3{
    border: none;
    background: var(--color-bg-gray);
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.sc-style-4{
    border: none;
    background: var(--color-bg-gray);
    border-radius: 25px;
} */
.sc-style-1:hover{
    transform: scale(1.05);
}
.services-container .service-card{
    transition: all .25s ease-in-out;
    display: flex;
    background: white;
    flex-flow: column;
    align-items: flex-start;
    width: calc(50% - 20px);
    padding: 20px;
}
.services-container .service-card a{
    font-size: 1.75rem;
    color: var(--color-text-dark);
    font-weight: bold;
    margin: 10px 0;
}
.services-container .service-card a:hover{
    text-decoration: underline;
}
.services-container .service-card p{
    font-size: 1.15rem;
    color: var(--color-text-light);
}
.services-container .service-card ion-icon{
    width: 50px;
    height: 50px;
    color: var(--color-secondary);
}

/* About */

#about{
    position: relative;
}
.about-container{
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
}
.about-container .about-img{
    width: 55%;
    position: relative;
}
.about-container .about-img img{
    width: 100%;
    border-radius: 100px;
    border-top-left-radius:0 ;
    border-bottom-right-radius: 0;
}
.about-container .about-img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border-top-left-radius:0 ;
    z-index: -1;
    border-bottom-right-radius: 0;
    background: var(--color-primary);
    left: -20px;
    bottom: -20px;
}
.about-container .about-body{
    width: 40%;
    display: flex;
    flex-flow: column;
}
.about-container .about-body h2{
    color: var(--color-text-dark);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
}
.about-container .about-body p{
    font-size: 1.25rem;
    color: var(--color-text-light);
    margin: 10px 0;
}
.about-container .about-body .about-cta{
    padding: 10px 50px;
    margin-top: 15px;
    align-self: flex-start;
    font-size: 1.25rem;
    border-radius: 25px;
    border-bottom-left-radius: 0;
}

/* Quote */

.quote-container{
    position: relative;
    display: flex;
    flex-flow: column;
    width: 30%;
    margin: 10% auto;
    align-items: center;
    text-align: center;
}
.quote-line, .quote-line-top{
    background: var(--color-text-dark);
    margin: 15px 0;
    height: 3px;
}
.quote-line-top{
    width: 100%;
}
.quote-container p{
    font-size: 1.5rem;
    width: 80%;
    margin: 10px auto;
    color: var(--color-primary);
}
.quote-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.quote-bottom img{
    width: 35px;
    height: 35px;
}
.quote-bottom .quote-line{
    width: calc(50% - 50px);
}

/* Contact */

.section-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5%;
    color: var(--color-text-dark);
}
#gmap_canvas{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.contact-container{
    display: flex;
    align-items: center;
    margin: 7.5% 0;
    justify-content: space-between;
}
.contact-container .contact-card{
    width: 30%;
    color: var(--color-text-dark);
    display: flex;
    flex-flow: column;
    padding: 20px 0;
    align-items: center;
    background: var(--color-bg-gray);
    border-radius: 15px;
}
.contact-container .contact-card ion-icon{
    width: 50px;
    height: 50px;
    margin: 10px 0;
    color: var(--color-primary);
}
.contact-container .contact-card h3{
    font-size: 1.75rem;
    margin-top: 10px;
}

/* Footer */

.footer-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: var(--font-primary);
    align-items: center;
    width: 100%;
    padding: 5% 10%;
    color: var(--color-text-dark);
    background: var(--color-primary);
}
.footer-links, .footer-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links{
    width: 100%;
}
.footer-links ul li{
    font-size: 1.5rem;
    margin: 0 25px;
}
.footer-links .logo{
    width: 400px;
    margin: 0 100px;
}
.footer-links .logo img{
    width: 100%;
}
.footer-container hr{
    width: 100%;
    margin: 25px 0;
}
.footer-container p{
    margin-top: 2.5%;
    font-size: 1.25rem;
}


.floating-img{
    width: 250px;
    height: 250px;
    right: 10%;
    bottom: -40%;
    animation: float 3s ease-in-out infinite;
    position: absolute;
}
.floating-img img{
    width: 100%;
}
.floating-circle{
    /* transition: all .5s ease-in-out; */
    position: absolute;
    background: var(--color-primary);
    opacity: 0.5;
    z-index: -1;
    border-radius: 50%;
    backdrop-filter: blur(50px);
    box-shadow: 5px 5px 75px 75px var(--color-primary);
	transform: translateY(0px);
    animation: float 2s ease-in-out infinite;
} 

.navbar .floating-circle{
    width: 300px;
    height: 300px;
    left: 100px;
    top: 25%;
}

#home .floating-circle{
    width: 500px;
    height: 500px;
    right: 250px;
    bottom: 30%;
}

.services-container .floating-circle{
    width: 300px;
    height: 300px;
    right: 50%;
    top: -50%;
}

.quote-container .floating-circle{
    width: 350px;
    height: 350px;
    left: -60%;
    top: -25%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-35px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* Observer Animations */

.observer{
    transition: all 2s;
    transition-delay: 100ms;
}
.observer-fromleft{
    transform: translateX(-100%);
    filter: blur(10px);
    opacity: 0;
    transition: all 1s;
}
.observer-fromright{
    transform: translateX(100%);
    filter: blur(10px);
    opacity: 0;
    transition: all 1s;
}
.observer-frombottom{
    transform: translateY(100%);
    filter: blur(10px);
    opacity: 0;
    transition: all 1s;
}
.observer-scale{
    transform: scaleX(0.3);
    transition: all 1s;
}
.observer-appear{
    opacity: 0;
    filter: blur(10px);
    transition: all 1s;
}
.observer-visible{
    transform: translateX(0);
    transform: scale(1);
    opacity: 1;
    filter: none;
}

.services-container .observer-fromleft:nth-child(2){
    transition-delay: 500ms;
}
.services-container .observer-fromleft:nth-child(3){
    transition-delay: 250ms;
}
.map-container{
    transition-delay: 200ms;
}